@using App.Models
@using App.Shared
@model Paginated<(User user, IList<string> roles)>
@{
    ViewData["Title"] = "Role Management";
}

<div class="input-box">
    <h1>Manage Roles</h1>

    <table>
        <thead>
            <tr>
                <th>UserID</th>
                <th>Name</th>
                <th>Email</th>
                <th>User</th>
                <th>Approver</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.user.Id</td>
                    <td>@item.user.Forename @item.user.Surname</td>
                    <td>@item.user.Email</td>

                    <td>
                        <input form="role_@item.user.Id" type="radio" name="role" value="User" checked="@item.roles.Contains("User")" />
                    </td>
                    <td>
                        <input form="role_@item.user.Id" type="radio" name="role" value="Approver" checked="@item.roles.Contains("Approver")" />
                    </td>
                    <td>
                        <input form="role_@item.user.Id" type="radio" name="role" value="Admin" checked="@item.roles.Contains("Admin")" />
                    </td>
                    <td>
                        <form id="role_@item.user.Id" asp-action="RoleManagement" method="post">
                            <input type="hidden" name="id" value="@item.user.Id" />
                            <button class="input-button" type="submit">Submit Changes</button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>