@using UKHSA.Models
@model List<RoleManagementViewModel>
@{
    ViewData["Title"] = "Role Management";
}

<div class="input-box">
    <h1>Manage Roles</h1>

    <table>
        <thead>
            <tr>
                <th>UserID</th>
                <th>Name</th>
                <th>Email</th>
                <th>User</th>
                <th>Approver</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>

                    <td>
                        <input form="role_@user.Id" type="radio" name="role" value="User" checked="@user.IsUser" />
                    </td>
                    <td>
                        <input form="role_@user.Id" type="radio" name="role" value="Approver" checked="@user.IsApprover" />
                    </td>
                    <td>
                        <input form="role_@user.Id" type="radio" name="role" value="Admin" checked="@user.IsAdmin" />
                    </td>
                    <td>
                        <form id="role_@user.Id" asp-action="RoleManagement" method="post">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button class="input-button" type="submit">Submit Changes</button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>