@using UKHSA.Models
@using UKHSA.Shared
@model Paginated<RequestsDto>
@{
  ViewData["Title"] = "My Requests Page";
}

<div class="text-center">
  <br />
  <div class="table-container">
    <h1>My Requests</h1>
    <table>
      <thead>
        <tr>
          <th>Dataset</th>
          <th>Status</th>
          <th>Notes</th>
          <th>Requested Date</th>
          <th>Approved Date</th>
          <th>Expiry Date</th>
          <th>Request Extension</th>
          <th>View Dataset</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var request in Model.Items)
        {
          <tr>
            <td>@request.Title</td>
            <td>@if (request.Approved == true)
            {
              <h4 style="color:#00703C"> Approved</h4> //green #00703C
            } 
            else if (request.Approved == false)
            {
              <h4 style="color:#8A1538">Denied</h4> //red #8A1538
            } 
            else
            {
              <h4 style="color:#d38900">Pending</h4> //yellow #ffdd00
            }
            </td>
            <td>@request.Reason</td>
            <td>@request.ReqTime</td>
            <td>@request.AppTime</td>
            <td>@request.AppExp</td>
            <td> <button class="input-button">Extension</button></td>
            <td><button class="input-button" @request.ViewDataset>View Dataset</button></td>
          </tr>
        }
      </tbody>
    </table>
    <div>
      @if (Model.CurrentPage > 1)
      {
        <a asp-action="Requests" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
      }

      <span>Page @Model.CurrentPage of @Model.TotalPages</span>

      @if (Model.CurrentPage < Model.TotalPages)
      {
      <a asp-action="Requests" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
      }
    </div>
  </div>
</div>